.wrapper-image {
  ///max-width: 1200px;
  //margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  //width: 100%;
}
.wrapper-text {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -0.5rem 0 -0.5rem;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    margin-top: 1rem;
    //padding: 0 0.5rem;
    width: 100% * ($i / 12);
  }
}