.decoration {
  background: url('../../asstes/Decoration.svg') no-repeat right center / contain;
  width: 10rem;
  height: 3rem;
  padding-left: 15rem;
  display: block;
  margin-left: 17rem;
}
.decoration.steps {
  margin-left: 40rem;
  margin-top: 1rem;
}

.decoration.about {
  margin-top: 1rem;
  margin-left: 11rem;
}

.header-hero {
  background: url('../../asstes/Home-Hero-Image.jpg') no-repeat left center / contain;
}

.people {
  background: url('../../asstes/People.jpg') no-repeat right center / contain;
  height: 32rem;
}

.signature {
  background: url('../../asstes/Signature.svg') no-repeat left center / contain;
  height: 8rem;
  margin: 2rem 0 0 19rem;
}