.decoration {
  background: url('../../asstes/Decoration.svg') no-repeat right center / contain;
  width: 10rem;
  height: 3rem;
  padding-left: 15rem;
  display: block;
  margin-left: 17rem;
}
.decoration.steps {
  margin-left: 40rem;
  margin-top: 1rem;
}

.decoration.about {
  margin-top: 1rem;
  margin-left: 11rem;
}

.decoration.last {
  margin-left: 8rem;
}

.decoration.log-image {
  margin-top: 1rem;
  margin-left: 5rem;
}

.header-hero {
  background: url('../../asstes/Home-Hero-Image.jpg') no-repeat left center / contain;
}

.people {
  background: url('../../asstes/People.jpg') no-repeat right center / contain;
  height: 32rem;
}

.signature {
  background: url('../../asstes/Signature.svg') no-repeat left center / contain;
  height: 8rem;
  margin: 2rem 0 0 19rem;
}

.contact {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position:relative;
}

.contact::before {
  background-image: url('../../asstes/Background-Contact-Form.jpg');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.2;
}

.icon-1 {
  background: url("../../asstes/Icon-1.svg") no-repeat right center / contain;
  width: 10rem;
  height: 3rem;
  padding-left: 15rem;
  display: block;
  margin-left: -6rem;
  margin-bottom: 1rem;
}

.icon-2 {
  background: url("../../asstes/Icon-2.svg") no-repeat right center / contain;
  width: 10rem;
  height: 3rem;
  padding-left: 15rem;
  display: block;
  margin-left: -6rem;
  margin-bottom: 1rem;
}

.icon-3 {
  background: url("../../asstes/Icon-3.svg") no-repeat right center / contain;
  width: 10rem;
  height: 3rem;
  padding-left: 15rem;
  display: block;
  margin-left: -6rem;
  margin-bottom: 1rem;
}

.icon-4 {
  background: url("../../asstes/Icon-4.svg") no-repeat right center / contain;
  width: 10rem;
  height: 3rem;
  padding-left: 15rem;
  display: block;
  margin-left: -6rem;
  margin-bottom: 1rem;
}

.media {
  display: flex;
  justify-content: flex-end;
}

.facebook {
  background: url("../../asstes/Facebook.svg") no-repeat;
  width: 2rem;
  height: 2rem;
  display: block;
  //opacity: 0.7;
  margin-right: 1rem;
}

.instagram {
  background: url("../../asstes/Instagram.svg") no-repeat;
  width: 2rem;
  height: 2rem;
  display: block;
  //opacity: 0.7;
}